* {
  box-sizing: border-box;
  margin: 0px;
  padding: 0px;
}

body {
  background-color: blanchedalmond;
  height: 100vh;
}

h1 {
  text-align: center;
  font-size: 90px;
  font-family: "Dokdo", system-ui;
  padding-top: 20px;
}

button {
  background-color: blanchedalmond;
  border-radius: 5px;
  padding: 5px;
  font-family: "Dokdo", system-ui;
  font-size: 20px;
  cursor: pointer;
}

footer {
  height: 125px;
  display: flex;
  font-family: "Dokdo", system-ui;
  font-size: 25px;
  justify-content: center;
  align-items: end;
}

p {
  font-family: "Dokdo", system-ui;
  font-size: 25px;
}

input[type="color"]::-webkit-color-swatch {
  border: none;
  border-radius: 50%;
  box-shadow: 0 2px 12px rgba(0, 0, 0, 0.384);
}

input[type="range"]::-webkit-slider-thumb {
  -webkit-appearance: none;
  width: 24px;
  height: 24px;
  border-radius: 100%;
  border: 1px solid black;
  background: blanchedalmond;
  cursor: pointer;
}

input[type="range"] {
  -webkit-appearance: none;
  background: white;
  border-radius: 25px;
  border: 1px solid black;
  height: 10px;
}

#board-size {
  text-align: center;
  margin-bottom: 3px;
}

#slider {
  width: 100%;
}

#github {
  margin-left: 10px;
  width: 25px;
}

.active {
  background-color: black;
  color: blanchedalmond;
}

.scale {
  width: 100%;
  margin: 10px 0px;
}

.main-container {
  display: flex;
  justify-content: center;
  margin-top: 50px;
}

.container-one {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-right: 80px;
  gap: 20px;
  width: 200px;
}

.container-two {
  display: flex;
  flex-wrap: wrap;
  width: 550px;
  height: 550px;
  box-shadow: 0 0 12px rgba(0, 0, 0, 0.384);
  background-color: white;
}

.board {
  background-color: #fff;
}

.colour-picker {
  height: 110px;
  width: 110px;
  border: none;
  background-color: blanchedalmond;
  cursor: pointer;
}

.all-buttons,
.top-buttons {
  display: flex;
  flex-direction: column;
  gap: 20px;
  width: 100%;
  margin-top: 10px;
}
